body {
  background-color: #ffefd5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.3),
    0 2px 4px -1px rgba(0, 0, 0, 0.1);
  --shadow-3: 0px 0px 5px 0px rgba(128, 0, 0, 1);
}

.form-container {
  padding: 20px;
  margin-top: 5rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.form-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  box-shadow: var(--shadow-2);
  border-radius: 5px;
  gap: 15px;
  height: 50%;
  width: 30%;
}

.form-wrapper h1 {
  text-align: center;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-box;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn-submit {
  background-color: rgb(200, 255, 254);
  color: black;
  padding: 14px 20px;
  width: 100%;
  border: 0px;
  border-radius: 20px;
}

.person-container {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
}

.person-infor {
  display: flex;
  flex-direction: column;
}

.person-item {
  padding: 2px;
}

.person-img {
  padding: 10px;
}

img {
  width: 100px;
  border-radius: 10px;
}

.form-input {
  border-radius: 5px;
  background-color: rgb(227, 255, 254);
}

.btn-show-pass {
  position: absolute;
  top: 20px;
  right: 1px;
  border: none;
  background-color: inherit;
}

.form-control-pass {
  width: 100%;
  position: relative;
}

.btn-loading {
  background-color: gray;
  color: white;
  padding: 14px 20px;
  width: 100%;
  border: 0px;
  border-radius: 20px;
}

.btn-success {
  background-color: green;
  color: white;
  padding: 14px 20px;
  width: 100%;
  border: 0px;
  border-radius: 20px;
}

.form-input-error {
  border-radius: 5px;
  background-color: rgb(227, 255, 254);
  border-color: red;
}

.form-message-error {
  font-size: 1em;
  color: red;
}

button {
  text-transform: uppercase;
}

.loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(167, 221, 219);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.alert-box {
  padding: 0.5rem;
  margin: auto;
  margin-top: 2rem;
  width: 20rem;
  height: 3rem;
  box-shadow: var(--shadow-3);
  border-radius: 2rem;
  display: flex;
  inline-size: min-content;
  justify-content: center;
}

.alert-icon-success {
  background-color: #0be428;
  color: white;
}

.alert-icon-error {
  background-color: #ff0000;
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
